body{
    position:flex;
    background-color: rgb(18, 9, 9);
}
main{
    position:relative;
    padding-top: 150px;
    align-content: center;
}

header{
    position: fixed;
    flex-direction: column;
    z-index: 9;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    top:0;
    left: 0;
    align-items: center;
    justify-content: space-around;
}

section{
    color: white;
}
nav a{
    color: black;
}
a{
    text-decoration: none;
}
header nav ul{ 
    display: flex;
    width: 100%;
    padding-left: 0px;
    justify-content: space-between;
    align-items: center;
}
header nav ul li {
    padding: 10px;
    text-align: center;
    display: inline;
}

.project{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    margin: 50px;
}
.project:hover{
    background-color: slategray;
    transform: scale(1.1);
}
.description{
    padding-left: 10px;
    padding-right: 10px;
}
.project img{
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
}
.project a{
    color: white;
}
.project a:visited{
    color: white;
}
.photo-and-content img{
    max-width: 200px;
    max-height: 200px;

}
.photo-and-content{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.photo-and-content .content{
    display: flex;
    flex-direction: column;
}
.photo-and-content div img{
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}
.photo-and-content div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about{
    align-items: center;
}
#projects ul{
    list-style-type: none;
}






@media screen and (min-width: 720px) {
    header{
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
    }
    main{
        padding-top: 75px;
    }
    .photo-and-content{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .content{
        padding-left: 10px;
    }
    .photo-and-content img{
        max-width: 200px;
        max-height: 200px;
    }
    
}