body{
    position:flex;
    background-color: rgb(18, 9, 9);
}
main{
    position:relative;
    padding-top: 75px;
}
header{
    position: fixed;
    z-index: 9;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    top:0;
    left: 0;
    align-items: baseline;
    justify-content: space-evenly;
    
}
nav a{
    color: black;
}
a{
    text-decoration: none;
}
header nav ul{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
header nav ul li {
    display: inline;
}
.project{
    display: flex;
    justify-content: left;
    color: white;
 
    margin: 50px;
    
}
.description{
    padding-left: 10px;
}
.project img{
    max-width: 100px;
    max-height: 100px;
}
.project a{
    color: white;
}
.project a:visited{
    color: white;
}
