body{
    position:flex;
    background-color: black;
}
main{
    position:relative;
    padding-top: 75px;
}
header{
    position: fixed;
    z-index: 9;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    top:0;
    left: 0;
    align-items: baseline;
    justify-content: space-evenly;
    
}
nav a{
    color: black;
}
a{
    text-decoration: none;
}
header nav ul{ 
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
header nav ul li {
    display: inline;
}
.project{
    
    color: white;
 
    margin: 50px;
    
}
.project a{
    color: white;
}
.project a:visited{
    color: white;
}
