.project{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    background-color: darkslategray;
    margin: 50px;
    width:80%;
    transform: translate(15%);
}
.project:hover{
    background-color: slategray;
    width: 90%;
    transform: translate(2.5%);
    margin: 50px;
}
.blog{
    display: flex;
    justify-content: left;
    align-items: center;
    color: black;
    background-color: slategray;
    margin: 50px;
    width: 90%;
    transform: translate(2.5%);
    
    
}

.description{
    padding-left: 10px;
    padding-right: 10px;
}
img{
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
}
.project a{
    color: white;
}
.project a:visited{
    color: white;
}
.blog a{
    color: white;
}
.blog a:visited{
    color: white;
}
